:root {
  --background-dark: #EFE3C6;
  --background-light: #FFFDED;
  --accent-color: #000080;
  --accent-alt-color: #1d1daf;
}

html, body {
  min-height: 100svh;
  display: flex;
  flex-direction: column;
}

html {
  scrollbar-width: normal;
  scrollbar-color: gray var(--background-dark);
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--background-dark);
  font-family: Helvetica Neue, Helvetica, Arial;
}

header {
  background-color: var(--background-light);
  padding: 0px 10px 0px;
}

main {
  background-color: var(--background-light);
  flex-grow: 1;
  padding-inline: 10px;
  padding-block: 20px;
}

footer {
  text-align: center;
  background-color: var(--background-dark);
  padding-block: 15px;
  font-size: 0.9rem;
}

h2 {
  background-color: var(--accent-color);
  color: var(--background-light);
  text-align: center;
  margin-block: 0px;
}

h3 {
  font-size: 1rem;
  margin-block-start: 20px;
  margin-block-end: 0px;
}

img {
  display: block;
  max-inline-size: 100%;
}

figcaption {
  font-size: 0.7rem;
  font-weight: bold;
}

p {
  margin: 0;
  font-size: .9rem;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: #134C94;
}

ul {
  margin: 0;
}

hr {
  margin-block: 20px;
  background-color: dimgray;
  border: 0px solid;
  height: 1px;
}

footer hr {
  background-color: #CCCCCC;
  margin-block-start: 15px;
}

.primary-navigation {
  background-color: var(--background-dark);
  padding-block: 5px;
  font-size: 1.3rem;

  container: primary-navigation / inline-size;
}

.primary-navigation ul {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
}

.primary-navigation a:hover {
  color: var(--accent-alt-color)
}

.navigation-background {
  background-color: var(--background-dark);
}

.nav-toggle:checked ~ nav {
  display: block;
}

.nav-toggle,
.nav-toggle-label {
  display: none;
}

.nav-toggle-label {
  padding: 15px;
  width: fit-content;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background-color: dimgray;
  height: 2px;
  width: 32px;
  border-radius: 2px;
  position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: "";
  position: absolute;
}

.nav-toggle-label span::before {
  bottom: 7px;
}

.nav-toggle-label span::after {
  top: 7px;
}

#left-column h2 {
  font-size: 1.2rem;
}

.indent {
  text-indent: 1rem;
}

.indent-all {
  margin-inline-start: 1rem;
}

.left-column-links {
  margin-block: 10px;
  font-size: 1rem;
  text-align: left;
}

#middle-column h2 {
  margin-block-end: 10px;
  font-size: 1.6rem;
}

.mid-column-img {
  max-width: 275px;
  float: left;
  margin: 5px 15px 5px 0px;
}

.caption {
  shape-outside: polygon(0% 92%, 100% 92%, 100% 0%, 0% 0%);
}

.flow-root {
  display: flow-root;
}

.right-column-img {
  margin-block-start: 10px;
  margin-block-end: 0px;
}

#right-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper {
  max-inline-size: 1372px;
  padding-inline: 50px;
  margin-inline: auto;
}

.full-height {
  min-height: 100svh;
  display: flex;
  flex-direction: column;
}

.extends-out {
  margin-left: calc(-1 * (100vw - 100%)/2);
  margin-right: calc(-1 * (100vw - 100%)/2);
  width: 100vw;
}

.three-column-layout {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  width: 100%;
  gap: 20px;
}

.three-column-layout > * {
  min-width: 0px;
}

.week-bulletin {
  color: inherit;
}

@media screen and (width < 1000px) {
  .three-column-layout {
    grid-template-columns: 1fr 3fr;
  }

  #right-column {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
    grid-column: 1 / -1;
    justify-content: center;
  }

  .right-column-img {
    margin-block: 0px;
  }

  .wrapper {
    padding-inline: 20px;
  }
}

@media screen and (width < 950px) {
  .primary-navigation {
    display: none;
  }

  .primary-navigation ul {
    padding-inline: 15px;
    flex-direction: column;
  }

  .nav-toggle {
    background-color: var(--background-dark);
    width: 100%;
  }

  .nav-toggle:checked ~ nav {
    display: block;
  }

  .nav-toggle-label {
    display: block;
  }
}

@media screen and (width < 750px) {
  .wrapper {
    padding-inline: 0px;
  }
}

@container primary-navigation (width < 1200px) {
  .primary-navigation a {
    font-size: clamp(1.1rem, 2cqw, 1.3rem);
  }
}
