
html, body {
  min-height: 100svh;
  display: flex;
  flex-direction: column;
}

body {
  margin: 0;
  padding: 0;
  background-color: #EFE3C6;
  font-family: Helvetica Neue, Helvetica, Arial;
}

header {
  background-color: #FFFDED;
  padding-inline: 5px;
}

main {
  background-color: #FFFDED;
  flex-grow: 1;
  padding-inline: 10px;
}

footer {
  text-align: center;
  background-color: #EFE3C6;
}

h2 {
  background-color: #000080;
  color: #EFE3C6;
  text-align: center;
  margin-block: 20px;
}

h3 {
  font-size: 1rem;
  margin-block-start: 20px;
  margin-block-end: 0px;
}

img {
  display: block;
  max-inline-size: 100%;
}

figcaption {
  font-size: 0.7rem;
  font-weight: bold;
}

p {
  margin: 0;
  font-size: .9rem;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: #134C94;
}

ul {
  margin: 0;
}

.primary-navigation {
  background-color: #EFE3C6;
}

.primary-navigation ul {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
}

.left-column-header {
  font-size: 1.2rem;
}

.indent {
  margin-left: 15px;
}

.left-column-links {
  margin-block: 10px;
  font-size: 1rem;
  text-align: left;
}

.mid-column-img {
  max-width: 275px;
  float: left;
  shape-outside: polygon(0% 85%, 100% 85%, 100% 0%, 0% 0%);
  margin: 10px 15px 20px 0px;
}
#first-rc-img {
  margin-block-start: 20px;
  margin-block-end: 0px;
}
.right-column-img {
  margin-block-start: 10px;
  margin-block-end: 0px;
}

.wrapper {
  max-inline-size: 1500px;
  padding-inline: 50px;
  margin-inline: auto;
}

.full-height {
  min-height: 100svh;
  display: flex;
  flex-direction: column;
}

.extends-out {
  margin-left: calc(-1 * (100vw - 100%)/2);
  margin-right: calc(-1 * (100vw - 100%)/2);
  width: 100vw;
}

.three-column-layout {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  width: 100%;
  gap: 20px;
}

.three-column-layout > * {
  min-width: 0px;
}